.shoppage-item {
  display: flex;
  justify-content: space-between;
}
#shoppage {
  width: 1080px;
  margin: 30px auto;
}
.shoppage-title,
.Co_title,
.cart_title {
  background-color: #f3f2f2;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: lighter;
  font-style: italic;
  padding: 40px 25px;
}
