.bill_wrap {
  width: 1080px;
  margin: 0 auto;
}
.bill_info {
  font-style: italic;
  color: #797986;
}
.cart_table {
  width: 95%;
}
.cart_table_head {
  background-color: #f7f3f3;
}
.cart_th {
  height: 35px;
}

.cart_table img {
  width: 90px;
}
