.card-row {
  display: flex;

  width: 100%;
  justify-content: space-between;
}
.card_title {
  width: 25%;
  height: 100px;
}

.card_trans {
  padding: 2.5rem;
}

.trans-table {
  font-size: 13px;
}
.trans-table-product {
  font-size: 13px;
  min-width: 700px;
}
.trans-head {
  background-color: #62a9c5;
}

table,
tr {
  padding: 10px;
  border: 1px solid rgb(190, 189, 189);
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: center;
}

.colorOrange,
.colorGreen,
.colorPurple {
  padding: 5px;
  border-radius: 5px;
  color: #524949;
}
.colorOrange {
  background-color: #faec6c;
}
.colorGreen {
  background-color: #6cfa8b;
}
.colorPurple {
  background-color: #8de4ff;
}
